version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    target-branch: "dev"
    labels:
      - "dependencies"
      - "github-actions"

  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "monthly"
    target-branch: "dev"
    labels:
      - "dependencies"
      - "python"
