site_name: Papers & Algorithms with Code
site_description: "Papers & Algorithms with code in PyTorch and Python"
repo_name: "papers-with-code"
repo_url: "https://github.com/danibcorr/papers-with-code"
site_url: "https://danibcorr.github.io/papers-with-code/"

theme:
  name: "material"
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: black
      toggle:
        icon: material/weather-night
        name: "Switch to dark mode"
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: black
      toggle:
        icon: material/weather-sunny
        name: "Switch to light mode"
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - announce.dismiss
    - navigation.tabs
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - navigation.indexes
    - search.suggest
    - toc.follow
    - toc.integrate
  icon:
    repo: fontawesome/brands/github

use_directory_urls: false

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - md_in_html
  - abbr
  - pymdownx.snippets
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - search:
      lang: en
  - mkdocstrings:
      enabled: !ENV [ENABLE_MKDOCSTRINGS, true]
      default_handler: python
      handlers:
        python:
          options:
            summary: false
            merge_init_into_class: true
            docstring_style: google
            show_root_heading: true
            show_source: true
            show_bases: false
            show_root_full_path: false
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            modernize_annotations: true
            show_submodules: false
            filters: ["!get_config", "!build", "!^_[^_]"]
            extra:
              ignore_init_summary: true
              show_special_methods: false
  - git-revision-date-localized
  - git-authors:
      show_email_address: false
  - enumerate-headings:
      toc_depth: 0
      exclude:
        - index.md
  - mkdocs-jupyter
  - awesome-nav

extra:
  status:
    new: Recently added
    deprecated: Deprecated
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/danibcorr/
  version:
    provider: mike
    default: latest